{% render 'partials/head.liquid', title: 'Squad page' %}

{% comment %} <h2>Students</h2>
<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul> {% endcomment %}


<header>
  <img src="/logo.svg" alt="logo FDND">
</header>

<main>
  <section>
    <h1>SQUAD PAGE</h1>
    <label for="site search"></label>
    <input type="search">
    <button><img src="/filter_icon.svg" alt="filter"></button>
  </section>

  <div class="cards">
    {% for person in persons %}
      <article class="front-card" style="background-image: url({{ person.avatar }});">
        <h2>{{ person.name }}</h2>

        <p>{{ person.koffie_filter }}</p>
        <button>MEER</button>
      </article>
    {% endfor %}

    {% for person in persons %}
      <article class="back-card">
        <dl>
          <dt>{{ person.name }}</dt>
          <dd>{{ person.koffie_filter }}</dd>

          <dt>BIO</dt>
          <dd>{{ person.bio }}</dd>

          <dt>LINKS</dt>
          <dd><a href="#"></a><a href="#"></a></dd>
        </dl>
        <button>BACK</button>
      </article>
    {% endfor %}
  </div>

</main>

{% render 'partials/foot.liquid', squads: squads %}